body {
    margin:0;
    background:#c8c8c8;
    background:url("../image/bg_image.jpg") fixed;
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
}

.lomba-wrap{
    width: 100%;
    margin:auto;
    max-width:510px;
    min-height:400px;
    position:relative;
    /*background:color(#6c757d) no-repeat center ;*/
    background-color: #d6d8d9;
    opacity: 0.5;
    background-size: cover;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
